// Variables
$wrapperWidth: 2200px;

.pl-wrapper {
  @include center();
  @include make-col-padding();
  width: 100vw;
  max-width: $wrapperWidth;
  display: flex;
  flex-flow: column nowrap;

  @include media('>=l') {
    flex-flow: row wrap;
    @include make-col-padding(2);
  }
}

.pl-head {
  @include make-col-padding(6);
  line-height: 120px;
  height: 120px;
  width: 100%;
}

.pl-nav {
  width: 100%;
  max-width: calc($wrapperWidth - 320px);
  display: flex;
  justify-content: flex-end;

  a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    margin-left: s(6);
    color: c('blue');
    @include ms-respond('font-size', -1);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;

    &:hover {
      color: c('blue', 'dark');
    }

    &::after {
      opacity: 0;
      transition: all 0.25s ease-in-out;
    }
  }

  .router-link-exact-active {
    color: c('blue', 'dark');

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: c('blue', 'dark');
      left: 0;
      top: 50%;
      transform: translateY(12px);
      opacity: 1;
    }
  }
}

.pl-aside {
  position: relative;

  @include media('>=l') {
    top: 120px;
    display: block;
    padding-bottom: s(8);
    -webkit-overflow-scrolling: touch;
    padding-right: 0;
    width: 280px;
    height: calc(100vh - 120px);
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    bottom: 0;
  }
}

.pl-logo {
  height: 120px;
  position: fixed;
  top: 0;
  line-height: 120px;
  font-weight: 900;
  @include ms-respond(font-size, 1);
  pointer-events: none;
  padding-right: s(4);
  text-transform: uppercase;

  span {
    font-weight: 300;
    text-transform: none;
    color: c('blue');
    @include ms-respond(font-size, 0);
  }
}

.pl-main {
  width: 100%;

  @include media('>=l') {
    width: calc(100% - 280px);
    margin-left: 280px;
    max-width: calc($wrapperWidth - 280px);
    padding-bottom: s(8);
  }
}

.pl-main__inner {
  @include make-col-padding(2);
  @include make-section-padding();
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: c('white');
  box-shadow: 0 20px  56px rgba(c('black'), 0.2);

  @include media('>=m') {
    @include make-col-padding(6);
    @include make-section-padding(2);
  }
}

.pl-main__footer {
  @include make-vr();
  @include make-col-padding(6);
  @include make-section-padding(2);
  width: 100%;
  color: c('blue');
  text-align: center;

  a {
    color: c('blue', 'dark');
    text-decoration: none;
    font-weight: 500;
  }

  span {
    color: c('red');
  }
}
