/*
 |--------------------------------------------------------------------------
 |  Intro
 |--------------------------------------------------------------------------
 */

.pl-intro {
  @include make-section-padding();
  position: relative;

  &__meta {
    @include make-vr();
    line-height: 32px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    color: c('black', '25');
    font-weight: 400;
    padding-bottom: s(1);
    border-bottom: 1px dotted c('black', '10');

    strong {
      font-weight: 700;
      text-transform: uppercase;
      color: c('black', '75');
    }
  }

  &__status {
    position: relative;
    border-radius: 100px;
    height: 32px;
    line-height: 32px;
    padding: 0 12px;
    text-transform: uppercase;
    background-color: c('black', '20');
    color: c('white');
    font-weight: 700;
    font-size: 12px;

    &::before {
      display: none;

      @include media('>=s') {
        content: 'Component Status';
        display: inline-block;
        word-break: keep-all;
        white-space: nowrap;
        text-transform: none;
        position: absolute;
        left: -8px;
        font-weight: 400;
        font-size: 14px;
        color: c('black', '25');
        transform: translateX(-100%);
        display: block;
      }
    }
  }

  .pl-headline--h1 {
    text-transform: capitalize;
  }

  &__description {
    @include make-vr();
    font-weight: 300;
    max-width: 70ch;
    color: c('blue');
  }
}
