html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: c('blue','dark');
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background-color: c('black', '05');
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


/*
 |--------------------------------------------------------------------------
 |  HR
 |--------------------------------------------------------------------------
 */

.pl-hr {
  @include make-vr();
  width: 100%;
  margin: 0;
  border: 0;
  background-color: c('black', '05');
  height: 2px;
}


/*
 |--------------------------------------------------------------------------
 |  Links
 |--------------------------------------------------------------------------
 */

a {
  color: c('red');
  transition: all 0.25s ease('out-cubic');
}
