/*
 |--------------------------------------------------------------------------
 |  Content
 |--------------------------------------------------------------------------
 */


.pl-content {
  $root: &;
  position: relative;

  &__component {
    position: relative;
    @include make-section-padding(2);
    @include f(s(4), s(8), margin-bottom);
    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      @include f(s(-6), s(-12), left right);
      background-color: lighten(c('blue', 'light'), 7%);
      border-top: 2px solid lighten(c('blue', 'light'), 4%);
      border-bottom: 2px solid lighten(c('blue', 'light'), 4%);
    }
  }

  &__section {
    @include make-section-padding();
  }

  &__container {
    @include make-vr();
  }

  &__container--iFrameActions {
    @include f(s(-2), s(-4), margin-bottom);
    position: relative;
    z-index: 10;
  }

  &__container--iframe {
    width: 100%;
    max-width: 100%;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      left: 0;
      top: 16px;
      bottom: 6px;
      right: 0;
      z-index: 10;
      border-radius: 5px;
      background-color: lighten(c('blue', 'light'), 6%);
    }

    iframe {
      margin-top: 16px;
      width: 100vw;
      min-height: 400px;
      max-width: 100%;
      position: relative;
      z-index: 100;
      border-radius: 5px;
      padding: 8px;
      resize: both;
      background-color: lighten(c('blue', 'light'), 4%);
    }
  }

  &__container--iframePages {
    iframe {
      padding: 0;
      background-color: c('white');
    }
  }

  &__container--loaded {
    iframe {
      min-height: 0;
    }
  }

  &__container--code {
    width: 100%;
    max-width: 100%;

    pre {
      width: 100%;
      max-width: 100%;
      background-color: c('black', '95');
      color: c('black', '75');
      border-radius: 5px;
      padding: 32px;
      // max-height: 200px;
      overflow: hidden;
      transition: all 0.25s;

      &.is-open {
        overflow: scroll;
        // max-height: none;
        background-color: c('black', '90');
        color: c('black', '40');
      }
    }
  }


  &__examples {
    @include make-vr(2);
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
  }

  &__examplesText {
    @include ms-respond('font-size', 0);
    width: 120px;
    flex: 0 1 auto;
  }

  &__examplesDropdown {
    display: inline-block;
    width: calc(100% - 120px);
    flex: 1 1 auto;
    -webkit-appearance: none;
    cursor: pointer;
    height: s(6);
    @include ms-respond('font-size', 0);
    padding: 0 s(2);
    border-color: transparent;
    border-radius: 5px;
    line-height: s(6);
    color: c('black', 'dark');
    background-color: c('white');
    transition: all 0.125s ease-in-out;
    box-shadow: inset 0 1px 5px rgba(c('black'), 0.05), 0 0 0 1px darken(c('blue', 'light'), 0%);

    &:focus,
    &:hover {
      outline: none;
      border-color: transparent;
      box-shadow: inset 0 1px 5px rgba(c('black'), 0.05), 0 0 0 3px darken(c('blue', 'light'), 4%);
    }

    + #{$root}__examplesArrow {
      width: s(6);
      height: s(6);
      border-radius: s(6);
      position: absolute;
      right: s(-2);
      top: 50%;
      transform: translate(-16px, -50%) rotate(45deg);
      z-index: 100;

      &::before,
      &::after {
        content: '';
        position: absolute;
        display: inline-block;
        width: 2px;
        height: 12px;
        background-color: darken(c('blue', 'light'), 12%);
      }

      &::before {
        transform-origin: bottom right;
        transform: rotate(-90deg) translate(-20px, 21px);
      }

      &::after {
        transform: translate(22px, 21px);
      }
    }

    &:disabled {
      box-shadow: inset 0 1px 5px rgba(c('black'), 0.05);
      border: 1px solid c('blue', 'light');
      cursor: not-allowed;
      color: c('black', '15');

      + #{$root}__examplesArrow {
        opacity: 0.25;
      }
    }
  }

  // Template Switch
  &__templateSwitcherCode {
    margin-top: s(2);
  }
}
