<!doctype html>
<html class="bg-black" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Craft Gonzo</title>
</head>
<body>
{% set components = craft.gonzo.getComponents() %}
<div id="app-container" data-components="{{ components | json_encode }}"></div>

{% set scriptTagOptions = {
  'depends': [
    'haariga\\craftgonzo\\assetbundles\\gonzo\\GonzoAsset'
  ]
} %}
{{ craft.gonzo.script('/src/web/assets/src/js/app.ts', false, scriptTagOptions) }}
</body>
</html>
