<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Patternlib Renderer</title>
  
</head>
<body>
<p>
  Please modify this template to your needs, add your site CSS und JavaScript so the preview of your components works as you expect.
</p>

<p>You need to modify the variable which is given to your template render to match your templates</p>

{% include component with {
  opt: templateOptions.opt | default([])
} %}
</body>
</html>
