/*
 |--------------------------------------------------------------------------
 |  Breakpoint Settings
 |--------------------------------------------------------------------------
 */
// Imports
// Important to include "Include Media" at this point
// Cause we set the map our Breakpoints to their map $breakpoints
@import '~include-media/dist/include-media';

// Settings
$bk-grid-settings-custom: (
        cssgrid: false,
        cssgrid-fallback: false,
        flexboxgrid: true,
        testing: false,
        prefix: 'pl-',
        units: (
                gutter: 8px,
                gutter-min-factor: 1,
                gutter-max-factor: 2,
                gutter-min-vertical-factor: 1,
                gutter-max-vertical-factor: 2
        ),
        offset-classes: false,
        push-classes: false,
        pull-classes: false,
        disable-padding-horizontal: false,
        breakpoints: (
                min: (from: 320px, cols: 12, create-classes: true),
                xs: (from: 400px, cols: 12, create-classes: false),
                s: (from: 600px, cols: 12, create-classes: false),
                m: (from: 800px, cols: 12, create-classes: false),
                l: (from: 1000px, cols: 12, create-classes: false),
                max: (from: 1440px, cols: 12, create-classes: false)
        )
);

@import '~baukasten-grid/scss/baukasten-grid';

/*
 |--------------------------------------------------------------------------
 |  Colors
 |--------------------------------------------------------------------------
 */

/*
 |--------------------------------------------------------------------------
 |  Colors
 |--------------------------------------------------------------------------
 */

// Shades of Gray
$color__white: #fff;
$color__black: #000;

// Colored
$color__red: #F44336;
$color__green: #4CAF50;
$color__blue: #2196F3;

$bk-grayShades: (
        'white': (
                'base': $color__white,
                'dark': mix(black, $color__white, 10%),
                'trans': rgba($color__white, 0.5),
        ),
        'black': (
                'base': $color__black,
                '05': mix(black, $color__white, 5%),
                '10': mix(black, $color__white, 10%),
                '15': mix(black, $color__white, 15%),
                '20': mix(black, $color__white, 20%),
                '25': mix(black, $color__white, 25%),
                '30': mix(black, $color__white, 30%),
                '35': mix(black, $color__white, 35%),
                '40': mix(black, $color__white, 40%),
                '45': mix(black, $color__white, 45%),
                '50': mix(black, $color__white, 50%),
                '55': mix(black, $color__white, 55%),
                '60': mix(black, $color__white, 60%),
                '65': mix(black, $color__white, 65%),
                '70': mix(black, $color__white, 70%),
                '75': mix(black, $color__white, 75%),
                '80': mix(black, $color__white, 80%),
                '85': mix(black, $color__white, 85%),
                '90': mix(black, $color__white, 90%),
                '95': mix(black, $color__white, 95%),
                'trans': rgba($color__black, 0.5),
        )
);

$bk-colored: (
        'red': (
                'base': $color__red,
                'dark': mix(black, $color__red, 10%),
                'light': mix(white, $color__red, 10%),
                'trans': rgba($color__red, 0.5),
        ),
        'green': (
                'base': $color__green,
                'dark': mix(black, $color__green, 10%),
                'light': mix(white, $color__green, 10%),
                'trans': rgba($color__green, 0.5),
        ),
        'blue': (
                'base': $color__blue,
                'dark': mix(black, $color__blue, 10%),
                'light': mix(white, $color__blue, 10%),
                'trans': rgba($color__blue, 0.5),
        ),
);

// Merge Gray Shades and Colored Map
$bk-colors: map-merge($bk-colored, $bk-grayShades);


/*
 |--------------------------------------------------------------------------
 |  Easings
 |--------------------------------------------------------------------------
 */

$ease-in-quad: cubic-bezier(0.550, 0.085, 0.680, 0.530);
$ease-in-cubic: cubic-bezier(0.550, 0.055, 0.675, 0.190);
$ease-in-quart: cubic-bezier(0.895, 0.030, 0.685, 0.220);
$ease-in-quint: cubic-bezier(0.755, 0.050, 0.855, 0.060);
$ease-in-sine: cubic-bezier(0.470, 0.000, 0.745, 0.715);
$ease-in-expo: cubic-bezier(0.950, 0.050, 0.795, 0.035);
$ease-in-circ: cubic-bezier(0.600, 0.040, 0.980, 0.335);
$ease-in-back: cubic-bezier(0.600, -0.280, 0.735, 0.045);
$ease-out-quad: cubic-bezier(0.250, 0.460, 0.450, 0.940);
$ease-out-cubic: cubic-bezier(0.215, 0.610, 0.355, 1.000);
$ease-out-quart: cubic-bezier(0.165, 0.840, 0.440, 1.000);
$ease-out-quint: cubic-bezier(0.230, 1.000, 0.320, 1.000);
$ease-out-sine: cubic-bezier(0.390, 0.575, 0.565, 1.000);
$ease-out-expo: cubic-bezier(0.190, 1.000, 0.220, 1.000);
$ease-out-circ: cubic-bezier(0.075, 0.820, 0.165, 1.000);
$ease-out-back: cubic-bezier(0.175, 0.885, 0.320, 1.275);
$ease-in-out-quad: cubic-bezier(0.455, 0.030, 0.515, 0.955);
$ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1.000);
$ease-in-out-quart: cubic-bezier(0.770, 0.000, 0.175, 1.000);
$ease-in-out-quint: cubic-bezier(0.860, 0.000, 0.070, 1.000);
$ease-in-out-sine: cubic-bezier(0.445, 0.050, 0.550, 0.950);
$ease-in-out-expo: cubic-bezier(1.000, 0.000, 0.000, 1.000);
$ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.150, 0.860);
$ease-in-out-back: cubic-bezier(0.680, -0.550, 0.265, 1.550);

$bk-easings: (
        'in-quad': $ease-in-quad,
        'in-cubic': $ease-in-cubic,
        'in-quart': $ease-in-quart,
        'in-quint': $ease-in-quint,
        'in-sine': $ease-in-sine,
        'in-expo': $ease-in-expo,
        'in-circ': $ease-in-circ,
        'in-back': $ease-in-back,
        'out-quad': $ease-out-quad,
        'out-cubic': $ease-out-cubic,
        'out-quart': $ease-out-quart,
        'out-quint': $ease-out-quint,
        'out-sine': $ease-out-sine,
        'out-expo': $ease-out-expo,
        'out-circ': $ease-out-circ,
        'out-back': $ease-out-back,
        'in-out-quad': $ease-in-out-quad,
        'in-out-cubic': $ease-in-out-cubic,
        'in-out-quart': $ease-in-out-quart,
        'in-out-quint': $ease-in-out-quint,
        'in-out-sine': $ease-in-out-sine,
        'in-out-expo': $ease-in-out-expo,
        'in-out-circ': $ease-in-out-circ,
        'in-out-back': $ease-in-out-back
);
