/*
 |--------------------------------------------------------------------------
 |  Buttons
 |--------------------------------------------------------------------------
 */

.pl-button {
  display: inline-block;
  line-height: 1;
  outline: none;
  transition: all 0.25s;
  cursor: pointer;
}

.pl-button--pill {
  margin-right: 4px;
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 12px;
  font-weight: 500;
  color: c('black', '50');
  border: 1px solid c('black', '10');
  outline: none;
  background: c('white');
  transition: all 0.25s;
}

.pl-button--active,
.pl-button--active:hover {
  background: c('white');
  box-shadow: inset 0 0 20px rgba(c('black'), 0.1);
}


/* Button Group */
.pl-buttonGroup--pill {
  .pl-button--pill {
    // float: left;
    margin: 0;
    border-radius: 0;
    border-left: none;
    overflow: hidden;

    &:first-child {
      border-left: 1px solid c('black', '10');
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    &:last-child {
      border-right: 1px solid c('black', '10');
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}
