.pl-variantMeta {
  @include make-vr();
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;

  &__left {
    @include ms-respond('font-size', 0);
    width: 120px;
    flex: 0 1 auto;
  }

  &__right {
    display: inline-block;
    width: calc(100% - 120px);
    flex: 1 1 auto;
  }

  &__label {
    display: inline-block;
    font-size: ms(-2);
    position: relative;
    border-radius: 100px;
    height: 24px;
    line-height: 24px;
    padding: 0 8px;
    text-transform: uppercase;
    background-color: c('black', '20');
    color: c('white');
    font-weight: 700;
    font-size: 12px;
  }
}
