/*
 |--------------------------------------------------------------------------
 |  Files
 |--------------------------------------------------------------------------
 */

.pl-files {
  $root: &;
  width: 100%;
  display: none;

  @include media('>=l') {
    display: block;
  }

  &__headline {
    padding-left: s(9);
    position: relative;
    font-weight: 500;
    text-transform: capitalize;
    color: c('blue', 'dark');
    cursor: pointer;

    &--active {
      color: darken(c('red'), 10%);

      #{$root}__icon {
        background-color: darken(c('red'), 10%);

        .top {
          top: 16px;
          background-color: c('white');
        }

        .bottom {
          bottom: 16px;
          background-color: c('white');
        }

        .line {
          opacity: 1;
          transition: all 0.25s 0.375s ease('out-cubic');

          &--01 {
            margin-left: -5px;
          }

          &--03 {
            margin-left: 5px;
          }
        }
      }
    }
  }

  &__icon {
    width: 48px;
    height: 48px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%) rotate(0);
    background-color: rgba(c('blue'), 0.25);
    color: c('white');
    text-align: center;
    line-height: 48px;
    font-size: 28px;
    border-radius: 100%;
    transition: all 0.25s ease('out-cubic');

    .top,
    .bottom {
      position: absolute;
      width: 24px;
      height: 2px;
      border-radius: 10px;
      background-color: rgba(c('white'), 0.5);
      transform: translate(-50%, 0);
      left: 50%;
      transform-origin: left center;
      transition: all 0.25s 0.25s ease('out-cubic');
    }

    .top {
      top: 20px;
    }

    .bottom {
      bottom: 20px;
    }

    .line {
      width: 2px;
      height: 2px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-color: c('white');
      opacity: 0;
      transition: all 0.25s 0s ease('out-cubic');
    }
  }

  &__list {
    padding: 0;
    padding-left: s(9);
    margin: 0;
    list-style-type: none;
    @include make-vr();
  }

  &__list #{$root}__list {
    padding-left: s(9);
  }

  &__listItem {
    padding: s(1) s(2) s(1/2) 0;
    overflow: visible;

  }

  &__listItemLink {
    display: block;
    text-transform: capitalize;
    color: c('blue', 'dark');
    text-decoration: none;
    position: relative;
    padding-left: 0;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(s(-2), -50%);
      background-color: c('blue');
      width: 2px;
      height: 2px;
      border-radius: 20px;
      opacity: 0.5;
      transition: all 0.25s ease('out-cubic');
    }

    &:hover {
      &::before {
        opacity: 1;
        width: 8px;
      }
    }

    &--active {
      padding-left: s(2);

      &:hover {
        &::before {
          opacity: 1;
          width: 20px;
          height: 2px;
        }
      }

      &::before {
        opacity: 1;
        width: 20px;
        background-color: c('red');
      }
    }
  }
}

.pl-mainNavTrigger {
  position: absolute;
  right: 0;
  top: 40px;
  width: 40px;
  height: 40px;
  cursor: pointer;

  @include media('>=l') {
    display: none;
  }

  span {
    width: 28px;
    height: 4px;
    background-color: c('blue', 'dark');
    display: inline-block;
    position: absolute;
    right: 6px;
    top: 18px;
    border-radius: 100px;
    transition: all 0.25s ease('out-cubic');

    &:nth-child(1) {
      top: 10px;
    }

    &:nth-child(3) {
      top: 26px;
    }
  }

  &:hover {
    span {
      &:nth-child(1) {
        top: 8px;
      }

      &:nth-child(2) {
        right: 12px;
        width: 16px;
      }

      &:nth-child(3) {
        top: 28px;
      }
    }
  }
}

.pl-mainNavCheckBox {
  display: none;
}

.pl-mainNavCheckBox:checked ~ .pl-files,
.pl-mainNavCheckBox:checked ~ .pl-files .pl-files {
  display: block;
}
